{% load static %}
<div class="navbar-container">
    <div class="logo">
        <img class="logo" src="{% static 'images/Logo.svg' %}" alt="Logo">
    </div>
    <div class="navbar-links">
        <ul class="navbar">
            <li class="link-btn"><a href="#">Home</a></li>
            <li class="link-btn"><a href="#">About</a></li>
            <li class="link-btn"><a href="#">Contact</a></li>
            <li class="link-btn"><a href="#">Login</a></li>
            <li class="link-btn"><a href="#">Register</a></li>
        </ul>
    </div>
</div>