{% load static %}
<div class="navbar-container">
    <div class="logo">
        <img class="logo" src="{% static 'images/Logo.svg' %}" alt="Logo">
    </div>
    <div class="navbar-links">
        <ul class="navbar">
            <li class="link-btn"><a href="#">Home</a></li>
            <li class="link-btn"><a href="#">Projects</a></li>
            <li class="link-btn"><a href="#">Contact</a></li>
        </ul>
    </div>
    
    <div class="menu-btn">
        <button class="hamburger" id="menu-toggle">&#9776;</button>
    </div>
    <div class="dropdown-menu">
        <a class="link-btn-mobile" href="{% url 'home' %}">Home</a>
        <a class="link-btn-mobile" href="{% url 'projects' %}">Projects</a>
        <a class="link-btn-mobile" href="{% url 'contact' %}">Contact</a>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
        const menuButton = document.getElementById("menu-toggle");
        const dropdownMenu = document.querySelector(".dropdown-menu");

        menuButton.addEventListener("click", function () {
            dropdownMenu.classList.toggle("show-menu");
        });
    });
    </script>
</div>