@font-face {
    font-family: 'Microgramma Bold';
    src: url('../fonts/MICROGBE.TTF');
}
 @font-face {
    font-family: 'Microgramma';
    src: url('../fonts/MICROGME.TTF');
 }

 :root {
    --background-color: #EEFBFF;
    --main-color: #067FAC;
    --main-color-hover: #00A0F3;
    --on-main-color: #E6F4F1;
    --on-main-color-hover: #EEFBFF;
    --on-background-color: #374955;

 }

body {
    font-family: 'Microgramma';
}

.dropbtn {
    font-family: 'Microgramma Bold';
    background-color: #067FAC;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
