{% extends 'base/admin_panel.html' %}
{% block content %}
<div class="sticky z-10 top-0 h-16 border-b bg-white lg:py-2.5 flex justify-between">
    <div class="px-6 flex items-center justify-between space-x-4 2xl:container">
        <h5 hidden class="text-2xl text-gray-600 font-medium lg:block">Add Project</h5>
    </div>
</div>
<div class="flex justify-start items-center m-14">
<form method="POST">
    {% csrf_token %}
    <div>Name:</div>
    {{ form.name }}
    <div>Description:</div>
    {{ form.description }}
    <div>Project Type:</div>
    {{ form.project_type }}
    <button
    data-variant="flat"
    class="text-[13px] md:text-sm rounded-md leading-4 inline-flex items-center cursor-pointer transition ease-in-out duration-300 font-semibold font-body text-center justify-center border-0 border-transparent placeholder-white focus-visible:outline-none focus:outline-none  bg-black text-white px-5 md:px-6 lg:px-8 py-4 md:py-3.5 lg:py-4 hover:text-white hover:bg-gray-600 hover:shadow-cart h-12 lg:h-14 mt-1 text-sm lg:text-base w-full sm:w-auto"
    type="submit"
    >
    Submit
    </button>
</form>
</div>
{% endblock content %}