{% extends 'base/admin_panel.html' %}
{% block content %}
<div class="sticky z-10 top-0 h-16 border-b bg-white lg:py-2.5 flex justify-between">
    <div class="px-6 flex items-center justify-between space-x-4 2xl:container">
        <h5 hidden class="text-2xl text-gray-600 font-medium lg:block">Projects</h5>
    </div>
    <div class="flex justify-end items-center rounded-md mr-2 bg-black">
        <a href="#" class="add-project text-2xl cursor-pointer w-44 p-4 ml-5 text-white font-medium lg:block">Add
            Project</a>
    </div>
</div>
<div style="display: block;" class="px-6 pt-6 2xl:container">
    <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">

        {% for job in projects %}
        <div class="p-4 flex-col justify-center">
            <div class="flex justify-center font-MicrogrammaReg tracking-widest font-semibold text-gray-600 text-2xl">
                {{ job.name }}</div>
            <a href="{% url 'admin_project_detail' job.id %}">
                <img class="h-auto w-auto rounded-lg shadow-none transition-shadow duration-300 ease-in-out hover:shadow-lg hover:shadow-black/30"
                    src="{{ job.primary_image.image.url }}" alt="{{ job.name }}" />
            </a>
        </div>
        {% endfor %}

    </div>
</div>
<div class="modal-container hidden fixed z-10 inset-0 overflow-y-auto">
    <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <div class="fixed inset-0 transition-opacity">
            <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
        </div>
        <div
            class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <form method="POST">
                    {% csrf_token %}
                    <div class="sm:flex sm:items-start">
                        <div>
                            <h1 class="text-2xl">Add Project:</h1>
                            <div class="items-center m-14">

                                {% csrf_token %}
                                <div>Name:</div>
                                {{ form.name }}
                                <div>Description:</div>
                                {{ form.description }}
                                <div>Project Type:</div>
                                {{ form.project_type }}

                            </div>
                        </div>
                    </div>
                    <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                        <button type="submit"
                            class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-black text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:ml-3 sm:w-auto sm:text-sm">
                            Submit
                        </button>
                        <button type="button"
                            class="close-button mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    const addProject = document.querySelector(".add-project");
    const modal = document.querySelector(".modal-container");
    const closeButton = document.querySelector(".close-button");

    addProject.addEventListener('click', () => {
        modal.classList.remove('hidden');
        setTimeout(() => modal.classList.remove('opacity-0'), 100);
        modal.classList.add('opacity-100');
    });

    closeButton.addEventListener('click', () => {
        modal.classList.remove('opacity-100');
        modal.classList.add('opacity-0');
        setTimeout(() => modal.classList.add('hidden'), 500);
    });
</script>

{% endblock content %}