{% extends 'main.html' %}

{% block content %}

<div class="grid lg:grid-cols-3 md:grid-cols-2">
    {% for job in projects %}
    <div class="p-4 flex-col justify-center">
        <div class="flex justify-center font-MicrogrammaReg text-gray-600 tracking-widest text-2xl">{{ job.name }}</div>
        <a href="{% url 'project_detail' job.id %}">
            <img class="h-auto w-auto rounded-lg shadow-none transition-shadow duration-300 ease-in-out hover:shadow-lg hover:shadow-black/30"
                src="{{ job.primary_image.image.url }}" alt="{{ job.name }}" />
        </a>
    </div>
    {% endfor %}
</div>

{% endblock content %}