{% extends 'base/admin_panel.html' %}

{% block content %}
<div class="sticky z-10 top-0 h-16 border-b bg-white lg:py-2.5">
    <div class="px-6 flex items-center justify-between space-x-4 2xl:container">
        <h5 hidden class="text-2xl text-gray-600 font-medium lg:block">Dashboard</h5>
    </div>
</div>

<div id="container" style="display: block;" class="px-6 pt-6 2xl:container">
    <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
        <!-- Project Details Container -->
        <div class="md:col-span-2 lg:col-span-1" >
            <div class="h-full py-8 px-6 space-y-6 rounded-xl border border-gray-200 bg-white">
                <div>
                    <h5 class="text-xl text-gray-600 text-center">Project Details</h5>
                    <div class="mt-2 flex justify-center gap-4">
                        <h3 class="text-3xl font-bold text-gray-700">26 Projects</h3>
                    </div>
                </div>
                <table class="w-full text-gray-600">
                    <tbody>
                        <tr>
                            <td class="py-2">Kong Crete</td>
                            <td class="text-gray-500">8 Images</td>
                            <td>

                            </td>   
                        </tr>
                        <tr>
                            <td class="py-2">JRE Construction</td>
                            <td class="text-gray-500">15 Images</td>
                            <td>

                            </td>   
                        </tr>
                        <tr>
                            <td class="py-2">Offroad Recon</td>
                            <td class="text-gray-500">12 Images</td>
                            <td>

                            </td>   
                        </tr>
                    </tbody>
                </table> 
            </div>
        </div>
        <!-- Type Details Container -->
        <div class="md:col-span-2 lg:col-span-1" >
            <div class="h-full py-8 px-6 space-y-6 rounded-xl border border-gray-200 bg-white">
                <div>
                    <h5 class="text-xl text-gray-600 text-center">Type Details</h5>
                    <div class="mt-2 flex justify-center gap-4">
                        <h3 class="text-3xl font-bold text-gray-700">26 Projects</h3>
                    </div>
                </div>
                <table class="w-full text-gray-600">
                    <tbody>
                        <tr>
                            <td class="py-2">Wraps</td>
                            <td class="text-gray-500">34%</td>
                            <td>

                            </td>   
                        </tr>
                        <tr>
                            <td class="py-2">Banners</td>
                            <td class="text-gray-500">65%</td>
                            <td>

                            </td>   
                        </tr>
                        <tr>
                            <td class="py-2">Other</td>
                            <td class="text-gray-500">12%</td>
                            <td>

                            </td>   
                        </tr>
                    </tbody>
                </table> 
            </div>
        </div>
        <!-- Image Details Container -->
        <div class="md:col-span-2 lg:col-span-1" >
            <div class="h-full py-8 px-6 space-y-6 rounded-xl border border-gray-200 bg-white">
                <div>
                    <h5 class="text-xl text-gray-600 text-center">Image Details</h5>
                    <div class="mt-2 flex justify-center gap-4">
                        <h3 class="text-3xl font-bold text-gray-700">256 Images</h3>
                    </div>
                </div>
                <table class="w-full text-gray-600">
                    <tbody>
                        <tr>
                            <td class="py-2">Wrap Images</td>
                            <td class="text-gray-500">65</td>
                            <td>

                            </td>   
                        </tr>
                        <tr>
                            <td class="py-2">Banner Images</td>
                            <td class="text-gray-500">24</td>
                            <td>

                            </td>   
                        </tr>
                        <tr>
                            <td class="py-2">Sign Images</td>
                            <td class="text-gray-500">12</td>
                            <td>

                            </td>   
                        </tr>
                        <tr>
                            <td class="py-2">Other Images</td>
                            <td class="text-gray-500">120</td>
                            <td>

                            </td>   
                        </tr>
                    </tbody>
                </table> 
            </div>
        </div>
        <!-- Contacts Details Container -->
        <div class="md:col-span-2 lg:col-span-1" >
            <div class="h-full py-8 px-6 space-y-6 rounded-xl border border-gray-200 bg-white">
                <div>
                    <h5 class="text-xl text-gray-600 text-center">Contacts</h5>
                    <div class="mt-2 flex justify-center gap-4">
                        <h3 class="text-3xl font-bold text-gray-700">54 Customers</h3>
                    </div>
                </div>
                <table class="w-full text-gray-600">
                    <tbody>
                        <tr>
                            <td class="py-2">Wrap Customers</td>
                            <td class="text-gray-500">35</td>
                            <td>

                            </td>   
                        </tr>
                        <tr>
                            <td class="py-2">Banner Customers</td>
                            <td class="text-gray-500">10</td>
                            <td>

                            </td>   
                        </tr>
                        <tr>
                            <td class="py-2">Other Customers</td>
                            <td class="text-gray-500">9</td>
                            <td>

                            </td>   
                        </tr>
                    </tbody>
                </table> 
            </div>
        </div>
    </div>
</div>
{% endblock content %}
