{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="text-2xl font-MicrogrammaReg text-gray-600 tracking-widest  text-center">{{ project.name }}</div>
<div class="grid lg:grid-cols-3 md:grid-cols-2">
    {% for img in images %}
    <div class="p-4 flex justify-center">
        <a href="{{ img.image.url }}">
            <img class="h-auto w-auto rounded-lg shadow-none transition-shadow duration-300 ease-in-out hover:shadow-lg hover:shadow-black/30"
                src="{{ img.image.url }}" alt="{{ project.name }}" />
        </a>
    </div>
    {% endfor %}
</div>
{% endblock content %}